@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// ui
.page-ui {

  &__elements {}

  &__hover-sliders {
    margin-block: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;

    @include tablet {
      grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    }

    @include w1280 {
      grid-template-columns: repeat(auto-fill, minmax(55rem, 1fr));
    }
  }
}


