@use '../variables.scss' as *;
@use '../mixins.scss' as *;

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    padding-block: 1.2rem;
    padding-inline: 1.6rem;
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.33333;
    text-align: center;
    width: max-content;
    height: max-content;

    svg {
        width: 2.4rem;
        height: 2.4rem;
    }

    &.primary {
        color: $white;
        background-color: $black;
    }

    &.secondary {
        color: $black;
        background-color: $white;
    }
}
