@use "../mixins" as *;

.container {
    width: 100%;
    margin: 0 auto;
    padding-inline: 1.2rem;

    @include tablet {
        padding-inline: 2rem;
    }

    @include w1280 {
        padding-inline: 2.4rem;
    }

    @include w1600 {
        padding-inline: 3.2rem;
    }
}
