@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// filters
.filters {

  &__wrap {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: .8rem;
  }

  .filter-clean-button {
    display: none;
    gap: 0 .5rem;
    padding-block: 0.4rem;
    padding-inline: 1.2rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.33;
    color: var(--black);
    background-color: #f4f4f4;
    height: 3.2rem;

    @include w1280 {
      height: 4rem;
    }

    svg {
      width: 1.6rem;
      height: 1.6rem;
      color: var(--black);
    }
  }
}

.filter {
  position: relative;

  .filter-form {

    &__value {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      z-index: -1;
    }
  }

  .filter-button {
    display: grid;
    align-items: center;
    grid-template-columns: calc(100% - 2.2rem) 1.6rem;
    background-color: var(--white);
    gap: 0 .6rem;
    border: 1px solid #d4d4d4;
    padding-block: 0.4rem;
    padding-inline: 1.2rem;
    cursor: pointer;
    height: 3.2rem;
    transition: background-color var(--transition-default), border-color var(--transition-default);

    @include w1280 {
      height: 4rem;
    }

    &__value {

    }

    &__right {
      flex: 0 0 auto;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.6rem;
      height: 1.6rem;
      pointer-events: none;
      opacity: 1;
      visibility: visible;
      transition: opacity var(--transition-default), visibility var(--transition-default), transform var(--transition-default);

      svg {
        width: 1rem;
        height: 1rem;
        color: var(--black);
      }
    }
  }

  .filter-button-default {
    display: flex;
    align-items: center;
    gap: 0 .8rem;

    span {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.2rem;
      height: 2.2rem;

      svg {
        width: 100%;
        height: 100%;
        color: var(--black);
      }
    }

    .title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.33333;
      color: #272724;
      transition: color var(--transition-default);
    }
  }

  .filter-button-selected {
    display: none;
    align-items: center;
    gap: 0 .5rem;

    span {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.33;
      color: var(--white);

      &:nth-child(1) {
        opacity: .6;
      }

      &:nth-child(2) {
        max-width: 15rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .filter-button-remove {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6rem;
    height: 1.6rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-default), visibility var(--transition-default);

    svg {
      width: 100%;
      height: 100%;
      color: var(--white);
    }
  }

  .filter-data {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateX(0);
    backdrop-filter: blur(15px);
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #fff;
    padding: 2rem;
    z-index: 11;
    display: none;
    //display: flex;
    flex-direction: column;
    gap: 2rem 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-default), visibility var(--transition-default);

    @include semiDesktop {
      position: absolute;
      top: calc(100% + .4rem);
      bottom: auto;
      left: 50%;
      transform: translateX(-50%);
      width: 28rem;
      height: auto;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0 2rem;

      p {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.33;
        color: var(--black);
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;

        svg {
          width: 100%;
          height: 100%;
          color: var(--black);
        }

        @include semiDesktop {
          display: none;
        }
      }
    }

    &__content {

    }

    &__accept {
      margin-top: auto;
    }
  }

  .filter-submit {
    width: 100%;
  }

  &.active {
    .filter-button {
      background-color: #f4f4f4;
      border-color: #f4f4f4;
    }

    .filter-button-default {
      span svg {
        color: #909090;
      }
      .title {
        color: #909090;
      }
    }

    .filter-data {
      opacity: 1;
      visibility: visible;
    }
    .filter-button__icon  {
      transform: rotate(180deg);

      svg {
        color: #909090;
      }
    }
  }

  &.selected {
    .filter-button {
      background-color: var(--black);
      border-color: var(--black);
    }
    .filter-button-default {
      display: none;
    }
    .filter-button-selected {
      display: flex;
    }
    .filter-button__icon {
      opacity: 0;
      visibility: hidden;
    }
    .filter-button-remove {
      opacity: 1;
      visibility: visible;
    }
  }

  &[data-filter="sort"] {
    .filter-data__accept {
      display: none;
    }
  }

  .filter-sort {

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      li {}

      button {
        position: relative;
        display: flex;
        align-items: center;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.33333;
        color: #272724;
        white-space: nowrap;
        width: 100%;

        span {
          display: block;
          height: 0.1rem;
          width: 0;
          background: #272724;
          margin-right: 0;
          transition: width var(--transition-default12), margin-right var(--transition-default);
        }

        &.active,
        &:hover {
          span {
            width: 100%;
            margin-right: .8rem;
          }
        }
      }
    }
  }

  .filter-checkbox,
  .filter-radio {
    padding-right: 1.2rem;
    max-height: calc(100vh - 30rem);
    overflow-y: auto;

    @include semiDesktop {
      max-height: 22.4rem;
    }

    &::-webkit-scrollbar {
      width: 1px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--black);
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      li {
        display: flex;
        align-items: center;
        gap: 0 1.5rem;
      }
    }

    .color {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 100%;
      border: 1px solid transparent;
    }
  }

  .filter-between {

    &__fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 2rem;
    }

    &__field {}

    &__list {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem 0;

      li {}
    }

    .preset {
      position: relative;
      display: block;
      max-width: max-content;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.33;
      color: var(--black);
      border-bottom: 1px dotted var(--black);
      cursor: pointer;
    }
  }
}
