@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// collapse
.collapse {

  .collapse-item {
    cursor: pointer;

    &.active .collapse-wrap {
      opacity: 1;
      visibility: visible;
    }

    &.active .collapse-header {
    }
  }

  .collapse-header {
  }

  .collapse-wrap {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all $transition;
  }

  .collapse-data {
  }
}
