//Montserrat
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Medium.eot');
  src: url('../fonts/montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Medium.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.eot');
  src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-SemiBold.eot');
  src: url('../fonts/montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Thin.eot');
  src: url('../fonts/montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Thin.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


//Roboto
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.eot');
  src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
  url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
