$font-family: "Montserrat", sans-serif;
$third-family: "Roboto", sans-serif;

$transition-default: .3s ease-in-out;
$transition-default6: .6s ease-in-out;

$primary: #e41874;
$primary-hover: #c90d5c;
$primary-active: #a60e4c;
$white: #fff;

$black: #272724;


$radius-sm: 6px;
$radius-md: 12px;
$radius-lg: 16px;

$transition: .3s ease-in-out;
$transition2: .6s ease-in-out;

$breakpoint-w1600: 1600px;
$breakpoint-laptop: 1440px;
$breakpoint-w1280: 1280px;
$breakpoint-desktop: 1024px;
$breakpoint-semiDesktop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-w650: 650px;
$breakpoint-mobile: 550px;
$breakpoint-small: 480px;
