@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// products-listing
.products-listing {

  &__container {}

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem 0;
  }

  &__breadcrumbs {}

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    text-align: center;
    color: var(--black);
    font-size: 3.2rem;
    line-height: 1.125;

    @include w1280 {
      font-size: 4.8rem;
      line-height: 1.25;
    }
  }

  &__filters {
    margin-top: 3.2rem;

    @include w1280 {
      margin-top: 4rem;
    }
  }

  &__content {
    position: relative;
    margin-top: 3.2rem;

    @include w1280 {
      margin-top: 4rem;
    }
  }

  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 100%;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity var(--transition-default), visibility var(--transition-default);
  }

  &__pagination {}
}

.products-furniture {

  &__list {
    display: flex;
    flex-direction: column;
    gap: .8rem 0;

    @include tablet {
      .hover-slider {
        will-change: transform, opacity;
        opacity: 0;
        transform: translateY(30px);
      }

      .hover-slider__name,
      .hover-slider__price {
        transform: translateY(20px);
      }

      .hover-slider__price {
        opacity: 0;
      }
    }
  }

  .row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: .8rem;

    .hover-slider {
      flex: 1 1 100%;

      @include mobile {
        flex: 1 1 calc(50% - .8rem);

        &:nth-child(1n + 3) {
          flex: 1 1 100%;
        }
      }

      @include tablet {
        flex: 1 1 calc(33.33% - 1.6rem);
      }

      @include w1280 {
        &:nth-child(1n + 3) {
          flex: 1 1 calc(33.33% - 1.6rem);
        }
      }

      &:nth-child(1n + 4),
      &:nth-child(1n + 5) {
        @include mobile {
          flex: 1 1 calc(50% - .8rem);
        }
      }
    }
  }

  .row2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      padding-block: 6.7rem;
    }

    @include w1280 {
      padding-block: 18.5rem;
    }

    @include w1600 {
      padding-block: 24rem;
    }

    .hover-slider {
      z-index: 1;

      @include tablet {
        max-width: 23.7rem;
      }

      @include w1280 {
        max-width: 30.2rem;
      }

      @include w1600 {
        max-width: 37.8rem;
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%);
      margin-left: 50%;
      width: 100vw;
      height: 100%;
      display: none;
      align-items: stretch;
      gap: 0 .8rem;

      @include tablet {
        display: flex;
      }

      img {
        flex: 1 1 calc(50% - .8rem);
        width: 100%;
        height: 100%;
        display: flex;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .hover-slider {

    @include w1280 {

      &:hover {
        background-color: #f4f4f4;
      }
    }
  }
}

.products-kitchens {

  &__list {
    display: flex;
    flex-direction: column;
    gap: .8rem 0;
  }

  .kitchen-slider {
    will-change: transform, opacity;

    @include tablet {
      opacity: 0;

      &:first-child {
        transform: scale(.8);
      }
    }
  }
}
