@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// catalog
.page-catalog {

  &__container {
  }

  &__list {

    .catalog-card {
      will-change: transform, opacity;

      @include tablet {
        opacity: 0;
        transform: translateY(100px);

        .catalog-card__title {
          opacity: 0;
          transform: translateY(50px);
        }
      }
    }

    .catalog-card + .catalog-card {
      margin-top: .8rem;
    }
  }

  &__others {
  }
}
