@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// index
.page-index {
  padding-bottom: 15rem;

  h1 {
    font-size: 3rem;
  }

  &__list {
    margin-top: 2.8rem;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;

    @include mobile {
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
      gap: 40px 20px;
    }

    @include desktop {
      margin-top: 5.6rem;
    }

    li {

      a {
        font-size: 1.8rem;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
