@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// product_detail
.product-detail {
  padding-bottom: 12rem;

  &__title {
    font-family: $font-family;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.25;
    color: $black;

    @include w1280 {
      font-size: 4.8rem;
    }
  }

  &__price {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.4;
    color: $black;

    @include w1280 {
      font-size: 2rem;
    }
  }

  &__description {
    margin-top: 1.2rem;
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.33;
    color: #272724;
  }

  &__order-button {
    width: 100%;

    @include w1280 {
      margin-top: 6rem;
    }
  }
}

.product-detail-hero {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  @include semiDesktop {
    min-height: 100vh;
  }
}

.product-information {
  flex: 1;
  display: flex;
  flex-direction: column;

  @include w1280 {
    padding-bottom: 5rem;
  }

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__inner {
    flex: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto .5fr auto auto auto auto;
    grid-template-areas: "breadcrumbs"
                          "title"
                          "preview"
                          "price"
                          "description"
                          "button"
                          "params";

    @include w1280 {
      grid-template-areas: "breadcrumbs preview params"
                          "title preview params"
                          "price preview params"
                          "description preview params"
                          "button preview params";
      grid-template-rows: auto 1fr auto auto auto;
      grid-template-columns: 27.8rem calc(100% - 62rem) 27.8rem;
      gap: 0 3.2rem;
    }

    @include w1600 {
      grid-template-columns: 33.8rem calc(100% - 77.2rem) 33.8rem;
      gap: 0 4.8rem;
    }
  }

  .product-detail__breadcrumbs {
    grid-area: breadcrumbs;
  }

  .product-detail__title {
    grid-area: title;
    margin-top: .4rem;
  }

  .product-detail__price {
    margin-top: 2rem;
    grid-area: price;

    @include w1280 {
      margin-top: auto;
    }
  }

  .product-detail__description {
    grid-area: description;
    margin-top: 1.2rem;

    @include w1280 {
      margin-top: 2rem;
    }
  }

  .product-detail__order-button {
    grid-area: button;
    margin-top: 3.2rem;

    @include w1280 {
      margin-top: 6rem;
    }
  }

  .product-information__preview {
    grid-area: preview;
    width: 100%;
    background-color: #f4f4f4;
    min-height: 33.6rem;
    //max-height: 50rem;
    margin-top: 2.4rem;

    @include w1280 {
      margin-top: 0;
      //max-height: 61.2rem;
    }

    @include w1600 {
      //max-height: 76.4rem;
    }

    .product-preview {
      max-width: 100%;
      width: 100%;
      height: 100%;

      .swiper {
        height: 100%;
      }
    }
  }

  .product-information__params {
    margin-top: 3.2rem;
    grid-area: params;

    @include w1280 {
      margin-top: 0;

      .product-configurator {
        height: 100%;
      }
    }

  }

  &.discontinued {
    .product-information__preview .swiper-wrapper {
      opacity: .3;
    }
  }
}

.product-kitchen {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;

  @include desktop {
    flex-direction: row;
    align-items: stretch;
    max-height: 90rem;
  }

  @media (min-width: 1024px) and (max-height: 900px) {
    height: 100dvh;
  }


  &__info {

    @media (max-width: 1024px) {
      padding-top: 2.4rem;
    }

    @include desktop {
      flex: 0 1 26%;
    }

    .container {
      height: 100%;
    }

    .product-detail__title {
      margin-top: .4rem;
      max-width: 80%;
      text-transform: uppercase;
    }

    .product-detail__price {
      margin-top: auto;
    }

    .product-detail__breadcrumbs,
    .product-detail__title {
      display: none;

      @include desktop {
        display: block;
      }
    }

    .product-detail__order-button {
      margin-top: 3.2rem;

      @include desktop {
        margin-top: 6rem;
      }
    }
  }

  &__info--inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__image {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      background-color: #000;
      opacity: .3;
    }

    @include desktop {
      &::before {
        display: none;
      }
      flex: 0 1 calc(100% - 26%);
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: bottom center;
      max-height: 42rem;

      @include desktop {
        max-height: 100%;
      }

      @media (min-width: 1024px) and (max-height: 900px) {
        height: 100dvh;
        max-height: 100dvh;
      }
    }
  }

  &__image--info {
    position: absolute;
    left: 0;
    bottom: 2rem;
    width: 100%;
    z-index: 1;

    @include desktop {
      display: none;
    }

    .product-detail__breadcrumbs .breadcrumbs__link,
    .product-detail__breadcrumbs .breadcrumbs__current,
    .product-detail__title {
      color: $white;
    }
  }
}

.product-video {
  max-height: 90rem;
}

.product-images {

  .row {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;

    @include tablet {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      gap: 8rem 4rem;
    }

    @include desktop {
      gap: 10rem 4rem;
    }

    @include w1280 {
      gap: 12rem 8rem;
    }

    picture {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      @include mobile {
        max-height: none;
      }
    }

    &:not(.ltr):not(.rtl) {

      picture {
        max-width: 100%;
        width: 100%;
        flex: 1 1 100%;
        max-height: 21rem;
        aspect-ratio: 16 / 9;

        @include mobile {
          max-height: 45.5rem;
        }

        @include w1280 {
          max-height: 77rem;
        }

        @include w1600 {
          max-height: 90rem;
        }
      }
    }

    &.ltr,
    &.rtl {
      picture {
        height: 33.6rem;

        @include mobile {
          height: auto;
        }
      }
    }

    &.ltr {
      picture {
        &:nth-child(1) {

          @include mobile {
            flex: 1 1 48%;
            aspect-ratio: 1/1;
          }
        }

        &:nth-child(2) {

          @include mobile {
            flex: 1 1 40%;
            aspect-ratio: 1/1;
          }
        }
      }
    }

    &.rtl {
      picture {
        &:nth-child(2) {

          @include mobile {
            flex: 1 1 48%;
            aspect-ratio: 1/1;
          }
        }

        &:nth-child(1) {

          @include mobile {
            flex: 1 1 40%;
            aspect-ratio: 1/1;
          }
        }
      }
    }
  }

  .row + .row {
    margin-top: 3.2rem;

    @include tablet {
      margin-top: 8rem;
    }

    @include w1280 {
      margin-top: 12rem;
    }
  }
}

.products-list {

}
