@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// modal
.modal {
	display: none;
	opacity: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba($black, 0.1);
	transition: opacity $transition-default;

	@include mobile {
		//overflow-y: auto;
	}

	&--show {
		opacity: 1;
	}

	&__window {
		opacity: 0;
		transform: translateY(20%);
		position: relative;
		width: 100%;
		height: 100%;
		background-color: #fff;
		overflow: hidden;
		margin-inline: auto;
		transition: opacity $transition-default, transform $transition-default, border-radius $transition-default;

		.modal--show & {
			opacity: 1;
			transform: none;
		}
	}

	&__title {
		margin-bottom: 16px;
		padding-right: 10px;
		font-size: 24px;
		line-height: 1.1;
		font-weight: 500;
		letter-spacing: -0.01em;
		color: $black;

		@include desktop {
			margin-bottom: 20px;
			padding-right: 0;
			font-size: 40px;
			line-height: 1;
		}
	}

	&__text {
		margin-bottom: 30px;
		font-size: 15px;
		line-height: 1.36;
		letter-spacing: -0.01em;
		color: #000;

		@include desktop {
			margin-bottom: 40px;
			font-size: 18px;
		}
	}

	&__close {
		position: absolute;
		top: 22.5px;
		right: 22.5px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.6rem;
		height: 1.6rem;
		background-color: transparent;

		&:hover {
			svg {
				color: #5f9ce4;
			}
		}

		svg {
			width: 100%;
			height: 100%;
			color: #B7CDE7;
		}
	}
}

.modal-order {

	.modal__content {
		height: 100%;
	}

	.modal__window {
		margin-top: auto;
		height: 100vh;
		backdrop-filter: blur(40px);
		box-shadow: 40px 0 40px 0 rgba(0, 0, 0, 0.05);
		background: rgba(255, 255, 255, 0.8);
		border: 1px solid #fff;

		@include semiDesktop {
			height: calc(100vh - 26%);
			max-width: 40.7rem;
		}

		@include w1600 {
			//max-width: 50.5rem;
			max-width: 31.7%;
		}
	}

}

.modal-order-success {

	.modal__window {
		margin: auto;
		max-width: 37.8rem;
		max-height: max-content;
		backdrop-filter: blur(40px);
		box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
		background: rgba(255, 255, 255, 0.8);
		border: 1px solid #fff;
	}
}
