@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// hover-slider
.hover-slider {
  position: relative;
  background-color: #f4f4f4;
  overflow: hidden;
  min-height: 23.2rem;

  @include w1280 {
    background-color: $white;
  }

  &:hover {
    .favorite-button:not(.active) {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__favorite-button {
    position: absolute;
    top: .8rem;
    right: .8rem;
    z-index: 2;

    @include tablet {
      top: 1.6rem;
      right: 1.6rem;
    }

    @include w1280 {
      top: 3rem;
      right: 3rem;

      .favorite-button:not(.active) {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5rem);
      }
    }
  }

  &__link {
    display: block;
    height: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__images {
    display: none;
    flex: 1;
    position: relative;
    overflow: hidden;
    bottom: auto;
    z-index: 1;

    @include w1280 {
      display: block;
    }

    &:after {
      content: '';
      padding-top: 100%;
      display: block;
    }

    &:hover {
      .hover-slider__line {
        opacity: 1;
      }
    }
  }

  &__inner {
    position: absolute;
    display: flex;
    inset: 0;
  }

  &__column {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    height: 100%;
  }

  &__column:first-child:not(:hover),
  &__column:hover {
    .hover-slider__image {
      opacity: 1;
    }
  }

  &__column:hover {
    .hover-slider__line {
      background-color: $black;
    }
  }

  &__image {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    margin: auto;
    overflow: hidden;
    opacity: 0;
    z-index: -2;
    background-color: $white;
    transition: opacity $transition-default;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    img {
      display: flex;
      height: calc(100% - 4rem);
      width: calc(100% - 4rem);
      object-fit: contain;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__line {
    height: .1rem;
    background-color: #d4d4d4;
    width: 98%;
    overflow: hidden;
    opacity: 0;
    transition: background-color $transition-default, opacity $transition-default;
  }

  &__swiper {
    height: 100%;
    display: flex;

    @include w1280 {
      display: none;
    }

    .swiper {

      .swiper-wrapper {
        align-items: stretch;
      }

      .swiper-slide {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 23.8rem;
          max-height: 23.8rem;
          width: 95%;
          height: 95%;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }

  &__information {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1.2rem 2rem;
    padding-inline: 1.2rem;
    gap: .4rem 0;

    @include w1280 {
      padding: 1.2rem 2rem 2rem 2rem;
    }

    @include w1600 {
      padding: 2rem;
    }
  }

  &__name {
    text-align: center;
    font-family: $font-family;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.33333;
    color: #272724;
  }

  &__price {
    white-space: nowrap;
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.33333;
    text-align: center;
    color: #909090;
  }
}
