@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// checkbox
.checkbox {
    display: inline-flex;
    min-height: 2.7rem;

    &__input {
        display: none;
    }

    &__label {
        position: relative;
        padding-left: 4.2rem;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.33333;
        letter-spacing: -0.02em;
        color: $black;
        cursor: pointer;
        user-select: none;
        transition: color $transition-default;

        @include tablet {
            font-size: 1.4rem;
            line-height: 1.43;
        }

        a {
            color: inherit;
        }

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 2.6rem;
            height: 2.6rem;
            display: block;
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.46948L5.18818 7.65766L11.8458 1.00007' stroke='white' stroke-width='2' stroke-linecap='round' /%3E%3C/svg%3E");
            background-position: 50% 60%;
            background-repeat: no-repeat;
            background-size: 1.3rem 1rem;
            border: 2px solid rgba(181, 214, 255, 0.2);
            border-radius: 0.8rem;
            content: "";
            transition: border-color $transition-default, background-color $transition-default;
        }

        &:hover {

            a {
                color: $primary;
            }

            &::before {
                border-color: rgba(181, 214, 255, 0.5);
            }
        }

        .checkbox__input:checked+&,
        .checkbox__input:checked+&:hover {
            &::before {
                background-color: $primary;
                border-color: $primary;
            }
            a {
                color: $primary;
            }
        }
    }
}

