@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// header
.header {

  &__container {}

  &__body {
    padding-block: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 2rem;
    border-bottom: 0.1rem solid rgba($black, 0.2);
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 0 .5rem;
  }

  .header-pages {
    display: flex;
    align-items: center;
    gap: 0 2.4rem;

    &__item {

      a {
        font-family: $font-family;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.33;
        color: $black;
        white-space: nowrap;
      }
    }
  }

  &__logos {
    display: flex;
    align-items: stretch;
    gap: 0 1.6rem;
    height: 3.2rem;

    .logo-element {
      color: $black;
    }

    .separator {
      display: block;
      height: 100%;
      width: 1px;
      background: rgba(39, 39, 36, 0.1);
    }
  }

  &__right {
    margin-left: auto;
    display: flex;
    align-items: stretch;
    gap: 0 1.6rem;
  }

  .header-icon-btn {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    color: $black;

    svg {
      width: 100%;
      height: 100%;
    }
  }

}

.logo-secondary {
  width: 9rem;

  svg {
    height: 100%;
    width: 100%;
  }
}
.logo-main {
  width: 11.1rem;

  svg {
    height: 100%;
    width: 100%;
  }
}

.burger-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  padding: .6rem;

  span {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    display: block;
    width: 1.3rem;
    height: 1px;
    background-color: $black;
    border-radius: 4rem;
    transition:
            top .3s .15s ease-in-out,
            opacity $transition-default6,
            transform .3s ease-in-out;

    &:nth-child(1) {
      top: calc(0% + 0.6rem);
    }
    &:nth-child(2) {

    }
    &:nth-child(3) {
      top: calc(100% - 0.6rem);
    }
  }

  &.active {

    span {
      transition: top .3s ease-in-out, transform .3s .15s ease-in-out;

      &:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }
}
