@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// header
.header {
  z-index: 2;
  /*position: fixed;
  top: 0;
  width: 100%;*/

  &__container {
    padding-inline: 1.2rem;

    @include tablet {
      padding-inline: 2rem;
    }

    @include w1280 {
      padding-inline: 2.4rem;
    }

    @include w1600 {
      padding-inline: 3.2rem;
    }
  }

  &__body {
    padding-block: 2rem;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    align-items: center;
    justify-content: space-between;
    gap: 0 1rem;
    border-bottom: 0.1rem solid rgba(var(--black-rgb), 0.2);

    @include tablet {
      padding-block: 2.4rem;
    }

    @include w1280 {
      padding-block: 3.2rem;
      gap: 0 2rem;
    }
  }

  &__left {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 1rem;

    @include tablet {
      margin-right: 0;
    }
  }

  .header-nav {
    display: none;

    @include w1280 {
      display: block;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 0 2.4rem;
    }

    &__item {

      a {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.33;
        color: var(--black);
        white-space: nowrap;
      }
    }
  }

  &__logos {
    display: flex;
    align-items: stretch;
    justify-content: center;
    max-width: max-content;
    margin-inline: auto;
    gap: 0 .8rem;
    height: 1.6rem;

    .logo-element {
      color: var(--black);
    }

    .separator {
      display: block;
      height: 100%;
      width: 1px;
      background: rgba(39, 39, 36, 0.1);
    }

    @include tablet {
      //flex: 1;
    }

    @include w1280 {
      //flex: none;
      height: 3.2rem;
      gap: 0 1.6rem;
    }
  }

  &__right {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    gap: 0 .8rem;

    @include w1280 {
      //margin-left: auto;
      gap: 0 1.6rem;
    }
  }

  .header-icon-btn {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6rem;
    height: 1.6rem;
    color: var(--black);

    @include w1280 {
      width: 2.4rem;
      height: 2.4rem;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

}

.logo-secondary {
  width: 4.5rem;

  @include w1280 {
    width: 9rem;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}
.logo-main {
  width: 5.6rem;

  @include w1280 {
    width: 11.1rem;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.burger-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  padding: .6rem;

  span {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    display: block;
    width: 1.3rem;
    height: 1px;
    background-color: var(--black);
    border-radius: 4rem;
    transition:
            top .3s .15s ease-in-out,
            opacity var(--transition-default6),
            transform .3s ease-in-out;

    &:nth-child(1) {
      top: calc(0% + 0.6rem);
    }
    &:nth-child(2) {

    }
    &:nth-child(3) {
      top: calc(100% - 0.6rem);
    }
  }
}

.header-catalog {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background: rgba(var(--black-rgb), 0.1);
  transition: opacity var(--transition-default), visibility var(--transition-default);

  &__inner {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4rem);
    background: rgba(255, 255, 255, 0.8);
    transform: translateX(-100%);
    transition: transform var(--transition-default), box-shadow var(--transition-default6);

    @include tablet {
      max-width: 38rem;
    }

    @include w1280 {
      max-width: 42.9rem;
    }

    @include w1600 {
      max-width: 53.9rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__head {
    padding-block: 3.2rem;
    padding-inline: 2.4rem;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 0 .5rem;

    .burger-btn {}

    a {
      display: none;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.33333;
      color: #272724;

      @include w1280 {
        display: block;
      }
    }
  }

  &__list {
    flex: 1;
    overflow-y: auto;
    max-height: calc(100% - 8.8rem - 12rem);

    .catalog-collapse,
    .collapse {
      height: 100%;
    }
  }

  &__nav {
    margin-top: auto;
    padding-inline: 4.8rem;
    padding-bottom: 3.2rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: .4rem 0;

      li {

        a {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 1.33;
          color: var(--black);
        }
      }
    }
  }
}

.header-search {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background: rgba(var(--black-rgb), 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: opacity var(--transition-default), visibility var(--transition-default);

  &__inner {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4rem);
    background: rgba(255, 255, 255, 0.8);
    transform: translateX(100%);
    transition: transform var(--transition-default), box-shadow var(--transition-default6);

    @include tablet {
      max-width: 38rem;
    }

    @include w1280 {
      max-width: 42.9rem;
    }

    @include w1600 {
      max-width: 53.9rem;
    }
  }

  &__body {}

  &__header {
    padding-inline: 1.2rem;
    padding-block: 2.8rem;
    display: flex;
    align-items: center;
    gap: 0 1.2rem;

    @include tablet {
      padding-inline: 2rem;
      gap: 0 2rem;
    }
    @include w1280 {
      padding-inline: 2.4rem;
      gap: 0 2.4rem;
    }
    @include w1600 {
      padding-inline: 3.2rem;
      gap: 0 3.2rem;
    }


    .header-search-close {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.4rem;
      height: 2.4rem;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__form {
    position: relative;
    flex: 1;

    .form__submit {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin-block: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.4rem;
      height: 2.4rem;
      outline: none;
      background: none;
      z-index: 2;
      padding: 0;

      svg {
        width: 100%;
        height: 100%;
        color: var(--black);
      }
    }
  }

  &__content {
    padding-inline: 1.2rem;

    @include tablet {
      padding-inline: 2rem;
    }
    @include w1280 {
      padding-inline: 2.4rem;
    }
    @include w1600 {
      padding-inline: 3.2rem;
    }
  }

  &__message {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.33;
    color: #909090;

    p:last-child {
      display: none;
    }
  }

  &.not-found {
    .header-search__message {
      display: block;

      p {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }
  }

  .header-search-history {

    padding-bottom: 2rem;

    ul {

      li {

      }

      li + li {
        margin-top: 1.8rem;
      }
    }

    .search-history-item {
      display: flex;
      align-items: center;
      gap: 0 .8rem;
      cursor: pointer;
      max-width: max-content;

      &:hover {
        .search-history-item__icon svg,
        .search-history-item__value {
          color: var(--black);
        }
      }

      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.6rem;
        height: 1.6rem;

        svg {
          width: 100%;
          height: 100%;
          color: #909090;
        }
      }

      &__value {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.33333;
        color: #909090;
        transition: color var(--transition-default);
      }
    }
  }

  .header-search-products {
    padding-block: 2rem;
    border-top: .1rem solid rgba(#272724, .2);

    ul {

      li {

        &:nth-child(n + 6) {
          display: none;
        }
      }

      li + li {
        margin-top: 2rem;
      }
    }
  }

  .header-search-products--show-more {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.33;
    color: var(--black);
  }

  .header-search-product {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0 1.2rem;

    &__img {
      height: 4.8rem;
      width: 4.8rem;

      img {
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &__info {

    }

    &__name {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.33;
      color: #909090;

      mark {
        color: var(--black);
        background: none;
      }
    }

    &__price {
      margin-top: .4rem;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.33;
      color: #909090;
    }
  }

  .header-search-hints {
    padding-block: 2rem;
    border-top: .1rem solid rgba(#272724, .2);

    ul {

      li {

      }

      li + li {
        margin-top: 2rem;
      }
    }

    .header-search-hint {
      display: flex;
      align-items: center;
      gap: 0 .8rem;
      cursor: pointer;

      &:hover {
        .header-search-hint__icon svg,
        .header-search-hint__value {
          color: var(--black);
        }
      }

      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.6rem;
        height: 1.6rem;

        svg {
          width: 100%;
          height: 100%;
          color: #909090;
        }
      }

      &__value {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.33333;
        color: #909090;
        transition: color var(--transition-default);

        mark {
          color: var(--black);
          background: none;
        }
      }
    }
  }

  &.show-all-products {
    .header-search-history,
    .header-search-hints,
    .header-search-products--show-more {
      display: none;
    }

    .header-search-products {
      max-height: calc(100vh - 11rem);
      overflow-y: auto;
      border-top-color: transparent;

      &::-webkit-scrollbar {
        width: .1rem;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(#272724, 0.2);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--black);
      }

      ul li:nth-child(n+6) {
        display: block;
      }
    }
  }
}

body.catalog-show .burger-btn,
body.catalog-show .header-catalog .burger-btn {
  span {
    transition: top .3s ease-in-out, transform .3s .15s ease-in-out;

    &:nth-child(1) {
      top: 50%;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      top: 50%;
      transform: rotate(-45deg);
    }
  }
}

body.catalog-show .header-catalog {
  opacity: 1;
  visibility: visible;

  .header-catalog__inner {
    box-shadow: 4rem 0 4rem 0 rgba(0, 0, 0, 0.05);
    transform: translateX(0);
  }
}

body.search-show .header-search {
  opacity: 1;
  visibility: visible;

  .header-search__inner {
    box-shadow: 4rem 0 4rem 0 rgba(0, 0, 0, 0.05);
    transform: translateX(0);
  }
}
